@font-face {
    src: url("../ttf/RobotoSlab-Regular.ttf");
}

.grid {
    -fx-background-color: white;
    -fx-font-family: "Roboto Slab";
}

.button {
    -fx-background-color: #d8d8d8;
    -fx-font-family: "Roboto Slab";
}

.label {
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 1;
    -fx-background-color: white;
    -fx-padding: 10;
    -fx-text-fill: black;
    -fx-border-color: #d8d8d8;
    -fx-font-family: "Roboto Slab";
    -fx-font-size: 40;
}

#turn {
    -fx-font-size: 20;
    -fx-border-style: hidden;
}

#rule1, #rule2, #rule3, #rule4, #rule5, #rule6{
    -fx-font-size: 16;
    -fx-border-style: hidden;
    -fx-alignment: center;
}

.root {
    -fx-background-color: white;
}
