.grid {
    -fx-background-color: white;
}

.button {
    -fx-background-color: #d8d8d8;
    -fx-font-weight: bold;
}

.label {
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 2;
    -fx-background-color: white;
    -fx-padding: 10;
    -fx-text-fill: black;
    -fx-border-color: #d8d8d8;
    -fx-font-weight: bold;
}

.root {
    -fx-background-color: white;
}
