.borders {
    -fx-border-style: solid inside;
    -fx-border-width: 7;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-color: black white black white;
}

.label-board {
    -fx-padding: 10;
    -fx-border-style: solid outside;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: tan;
    -fx-border-color: black;
}

.grid-pane {
    -fx-padding: 10;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-background-color: wheat;
    -fx-border-color: black;
}
